$interactive: #1bc3ce;
$folder: #9a9a9a;
$text-interactive: #02aeb9;
$text-folder: #000;
$disabled-border: #e6e6e6;
$disabled-fill: #f1f1f1;
$sticker: #f39200;
$input-hover: #b8e6e9;
$input-default: #ebf5f5;
$delete: #bc0404;

$shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
$shadow-color: #c4c4c4;
$white: white;
$black: black;
