@import './colors.scss';
.edit-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    // line-height: 150%;
    width: 500px;
    background-color: $white;

    .modal-title {
        text-transform: uppercase;
        padding: 17px 20px;
        background-color: $interactive;
        color: $white;
        font-weight: bold;
        height: 60px;
        width: 100%;
    }
    .modal-content {
        padding: 1px 20px;

        .modal-info {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .form-container {
        display: grid;
        flex-direction: column;

        .input-wrapper {
            margin-bottom: 15px;
        }
        .button-row {
            display: flex;
            flex-direction: row;
            margin-top: 5px;
            margin-bottom: 15px;
            & > * {
                min-width: 0;
                // width: 190px;
                margin-right: 20px;
            }
        }
    }
}
